<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>定价管理</title>

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/css/content.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<!--路径导航-->
<ol class="breadcrumb breadcrumb_nav">
    <li>首页</li>
    <li>定价管理</li>
    <li class="active">添加定价</li>
</ol>
<!--路径导航-->

<div class="page-content">
    <div class="panel panel-default">
        <div class="panel-heading">添加定价信息</div>
        <div class="panel-body">
            <form th:action="@{/tDot/add}" method="post">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="province">省份</label>
                                <input type="text" class="form-control" id="province" name="province">
                            </div>
                            <div class="form-group">
                                <label for="infirstPriority">省内首重</label>
                                <input type="text" class="form-control" id="infirstPriority" name="infirstPriority" placeholder="详细地址">
                            </div>
                            <div class="form-group">
                                <label for="outFirstPriotity">省外首重</label>
                                <input type="text" class="form-control" id="outFirstPriotity" name="outFirstPriotity" placeholder="网点名称">
                            </div>
                            <div class="form-group">
                                <label for="inContinued">省内续重</label>
                                <input type="number" class="form-control" id="inContinued" name="inContinued" placeholder="联系电话">
                            </div>
                            <div class="form-group">
                                <label for="outContinued">省外续重</label>
                                <input type="number" class="form-control" id="outContinued" name="outContinued" placeholder="联系电话">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">添 加</button>&emsp;&emsp;
                                <button type="reset" class="btn btn-primary">重 填</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
</body>
</html>