<div class="layuimini-main">
    <form id="detail-form" class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label">客户微信名</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="wxName" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">客户真实姓名</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="realName" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">接单网点</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="dotName" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">寄件人姓名</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="senderName" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">寄件人联系电话</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="senderPhone" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">寄件人地址</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="senderAddress" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">收件人姓名</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="receiveName" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">收件人联系电话</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="receivePhone" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">收件人地址</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="receiveAddress" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">物品类别</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="resSort" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">预计重量</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="weight" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">保价</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="insuredPrice" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">运费</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="freight" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea readonly="readonly" name="remarks" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">下单时间</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="orderTime" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="state" value="" class="layui-input">
                </div>
            </div>
    </form>
</div>
