<div class="layuimini-main">
    <form id="detail-form" class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label">运单号</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="waybillCode" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">发货地址</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="sendAddress" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">收获地址</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="receiveAddress" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">物流详情</label><br/><br/><br/>
                <ul class="logisticsList">
                </ul>
            </div>
    </form>
</div>
