<div class="layuimini-main">
    <form id="editForm" >
    <div class="layui-form layuimini-form edit-from">
        <input type="hidden" name="customerId" value=""/>
        <div class="layui-form-item">
            <label class="layui-form-label required">微信昵称</label>
            <div class="layui-input-block">
                <input type="text" readonly="readonly" name="wxName" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">联系电话</label>
            <div class="layui-input-block">
                <input type="number" name="customerPhone" value="" lay-verify="required" lay-reqtext="联系电话不能为空" placeholder="请输入联系电话" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号码</label>
            <div class="layui-input-block">
                <input type="text" name="realNum" value="" placeholder="请输入身份证号码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">真实姓名</label>
            <div class="layui-input-block">
                <input type="text" name="realName" value="" placeholder="请输入真实姓名" class="layui-input">
            </div>
        </div>

<!--        <div class="layui-form-item">-->
<!--            <div class="layui-input-block">-->
<!--                <button class="layui-btn" lay-submit lay-filter="saveBtn">确认保存</button>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    </form>
</div>
<script>
    layui.use(['form', 'table'], function () {
        var form = layui.form,
            layer = layui.layer,
            table = layui.table,
            $ = layui.jquery;


        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();
        // console.log(table);

        // 当前弹出层，防止ID被覆盖
        var parentIndex = layer.index;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            /*var index = layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            }, function () {
                // 关闭弹出层
                layer.close(index);
                layer.close(parentIndex);
            });*/
            // $.ajax({
            //    url: "tCustomer/doEdit",
            //    method: 'POST',
            //    data: data.field,
            //    dataType: 'JSON',
            //    success: function (res) {
            //        if (res){
            //            layer.close(parentIndex);
            //        }else{
            //            layer.alert("修改失败！！！");
            //        }
            //    }
            // });


            return false;
        });

    });
</script>